applicationGatewayStopStart.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Filter_everything_but_the_App_Gateways_we_are_managing": {
                "inputs": {
                    "from": "@body('Get_a_list_of_all_resources_tagged_to_be_managed')['value']",
                    "where": "@equals(item()['type'],'Microsoft.Network/applicationGateways')"
                },
                "runAfter": {
                    "Get_a_list_of_all_resources_tagged_to_be_managed": [
                        "Succeeded"
                    ]
                },
                "type": "Query"
            },
            "For_Each_App_Gateway": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Stop_the_Application_Gateway": {
                                "inputs": {
                                    "authentication": {
                                        "identity": "@{parameters('managedId')}",
                                        "type": "ManagedServiceIdentity"
                                    },
                                    "method": "POST",
                                    "uri": "https://management.azure.com/@{items('For_Each_App_Gateway')['id']}/stop?api-version=2023-09-01"
                                },
                                "runtimeConfiguration": {
                                    "contentTransfer": {
                                        "transferMode": "Chunked"
                                    }
                                },
                                "type": "Http"
                            }
                        },
                        "else": {
                            "actions": {
                                "Start_the_Application_Gateway": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "",
                                            "identity": "@{parameters('managedId')}",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "POST",
                                        "uri": "https://management.azure.com/@{items('For_Each_App_Gateway')['id']}/start?api-version=2023-09-01"
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "type": "Http"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Process_information_on_the_ApplicationGateway')['properties']['operationalState']",
                                        "Running"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Process_information_on_the_ApplicationGateway": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Get_some_information_on_the_Application_Gateway": {
                        "inputs": {
                            "authentication": {
                                "identity": "@{parameters('managedId')}",
                                "type": "ManagedServiceIdentity"
                            },
                            "method": "GET",
                            "uri": "https://management.azure.com@{items('For_Each_App_Gateway')['id']}?api-version=2023-09-01"
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Process_information_on_the_ApplicationGateway": {
                        "inputs": {
                            "content": "@body('Get_some_information_on_the_Application_Gateway')",
                            "schema": {
                                "properties": {
                                    "etag": {
                                        "type": "string"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "location": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "properties": {
                                        "properties": {
                                            "backendAddressPools": {
                                                "items": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "backendAddresses": {
                                                                    "type": "array"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "requestRoutingRules": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "id",
                                                        "etag",
                                                        "properties",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "backendHttpSettingsCollection": {
                                                "items": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "connectionDraining": {
                                                                    "properties": {
                                                                        "drainTimeoutInSec": {
                                                                            "type": "integer"
                                                                        },
                                                                        "enabled": {
                                                                            "type": "boolean"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "cookieBasedAffinity": {
                                                                    "type": "string"
                                                                },
                                                                "pickHostNameFromBackendAddress": {
                                                                    "type": "boolean"
                                                                },
                                                                "port": {
                                                                    "type": "integer"
                                                                },
                                                                "protocol": {
                                                                    "type": "string"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "requestRoutingRules": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "requestTimeout": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "id",
                                                        "etag",
                                                        "properties",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "backendSettingsCollection": {
                                                "type": "array"
                                            },
                                            "defaultPredefinedSslPolicy": {
                                                "type": "string"
                                            },
                                            "frontendIPConfigurations": {
                                                "items": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "httpListeners": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "privateIPAllocationMethod": {
                                                                    "type": "string"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "publicIPAddress": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "id",
                                                        "etag",
                                                        "type",
                                                        "properties"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "frontendPorts": {
                                                "items": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "httpListeners": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "port": {
                                                                    "type": "integer"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "id",
                                                        "etag",
                                                        "properties",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "gatewayIPConfigurations": {
                                                "items": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "subnet": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "id",
                                                        "etag",
                                                        "properties",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "httpListeners": {
                                                "items": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "enableHttp3": {
                                                                    "type": "boolean"
                                                                },
                                                                "frontendIPConfiguration": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "frontendPort": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "hostNames": {
                                                                    "type": "array"
                                                                },
                                                                "protocol": {
                                                                    "type": "string"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "requestRoutingRules": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "requireServerNameIndication": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "id",
                                                        "etag",
                                                        "properties",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "listeners": {
                                                "type": "array"
                                            },
                                            "loadDistributionPolicies": {
                                                "type": "array"
                                            },
                                            "operationalState": {
                                                "type": "string"
                                            },
                                            "privateEndpointConnections": {
                                                "type": "array"
                                            },
                                            "privateLinkConfigurations": {
                                                "type": "array"
                                            },
                                            "probes": {
                                                "type": "array"
                                            },
                                            "provisioningState": {
                                                "type": "string"
                                            },
                                            "redirectConfigurations": {
                                                "type": "array"
                                            },
                                            "requestRoutingRules": {
                                                "items": {
                                                    "properties": {
                                                        "etag": {
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "properties": {
                                                            "properties": {
                                                                "backendAddressPool": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "backendHttpSettings": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "httpListener": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "priority": {
                                                                    "type": "integer"
                                                                },
                                                                "provisioningState": {
                                                                    "type": "string"
                                                                },
                                                                "ruleType": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "id",
                                                        "etag",
                                                        "properties",
                                                        "type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "resourceGuid": {
                                                "type": "string"
                                            },
                                            "rewriteRuleSets": {
                                                "type": "array"
                                            },
                                            "routingRules": {
                                                "type": "array"
                                            },
                                            "sku": {
                                                "properties": {
                                                    "capacity": {
                                                        "type": "integer"
                                                    },
                                                    "family": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "tier": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "sslCertificates": {
                                                "type": "array"
                                            },
                                            "sslProfiles": {
                                                "type": "array"
                                            },
                                            "trustedClientCertificates": {
                                                "type": "array"
                                            },
                                            "trustedRootCertificates": {
                                                "type": "array"
                                            },
                                            "urlPathMaps": {
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "tags": {
                                        "properties": {
                                            "scheduledAGWPowerOnOff": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_some_information_on_the_Application_Gateway": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    }
                },
                "foreach": "@body('Process_just_the_App_Gateways')",
                "runAfter": {
                    "Process_just_the_App_Gateways": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_a_list_of_all_resources_tagged_to_be_managed": {
                "inputs": {
                    "authentication": {
                        "identity": "@{parameters('managedId')}",
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/resources?api-version=2021-04-01&$filter=tagName eq '@{parameters('tagName')}' and tagValue eq '@{parameters('tagValue')}'"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "Http"
            },
            "Process_just_the_App_Gateways": {
                "inputs": {
                    "content": "@body('Filter_everything_but_the_App_Gateways_we_are_managing')",
                    "schema": {
                        "items": {
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "kind": {
                                    "type": "string"
                                },
                                "location": {
                                    "type": "string"
                                },
                                "managedBy": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "tags": {
                                    "properties": {
                                        "scheduledVMPowerOnOff": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "name",
                                "type",
                                "kind",
                                "managedBy",
                                "location",
                                "tags"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Filter_everything_but_the_App_Gateways_we_are_managing": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "managedId": {
                "defaultValue": "[REPLACE WITH THE FULL ID OF YOUR MANAGED IDENTITY]",
                "type": "String"
            },
            "subscriptionId": {
                "defaultValue": "[REPLACE WITH YOUR SUBSCRIPTION ID]",
                "type": "String"
            },
            "tagName": {
                "defaultValue": "applicationGatewayStopStart",
                "type": "String"
            },
            "tagValue": {
                "defaultValue": "included",
                "type": "String"
            }
        },
        "staticResults": {
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "7",
                            "18"
                        ],
                        "minutes": [
                            0
                        ],
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday"
                        ]
                    },
                    "timeZone": "GMT Standard Time"
                },
                "recurrence": {
                    "frequency": "Week",
                    "interval": 1,
                    "schedule": {
                        "hours": [
                            "7",
                            "18"
                        ],
                        "minutes": [
                            0
                        ],
                        "weekDays": [
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday"
                        ]
                    },
                    "timeZone": "GMT Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {}
        }
    }
}